<div class="container_notes">
    {{#each notes}}

    <div>
        {{ title }}
    </div>

    <div>
        {{ description }}
    </div>

    <div>
        <a href="/notes/edit/{{_id}}"><i class="fas fa-edit"></i></a>
    </div>

    <div>
        <!-- DELETE REQUEST -->
        <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit">Delete</button>
        </form>
    </div>


    {{else}}

    <h1>Hola {{user.name}}</h1>
    <p>No tienes notas todavía.</p>
    <a href="/notes/add">Crea la primera!</a>

    {{/each}}
</div>